* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", consolas;
}

a {
  text-decoration: none !important;
}

.table-operations {
  text-align: center; /* Centre le contenu */
}

.centered-table td,
.centered-table th {
  text-align: center;
  vertical-align: middle;
}

th,
td {
  white-space: nowrap; /* Empêche le contenu de s'étirer sur plusieurs lignes */
}

@media (max-width: 1200.98px) {
  td {
    white-space: nowrap; /* Empêche le contenu de s'étirer sur plusieurs lignes */
  }
}

@media (max-width: 991.98px) {
  .userImg {
    width: 40px !important;
    height: 40px !important;
  }
}

.userImg {
  width: 100%;
  height: 100%;
}

.fw {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.ql-font-arial {
  font-family: Arial, sans-serif;
}
.ql-font-georgia {
  font-family: Georgia, serif;
}
.ql-font-impact {
  font-family: Impact, sans-serif;
}
.ql-font-tahoma {
  font-family: Tahoma, sans-serif;
}
.ql-font-times-new-roman {
  font-family: "Times New Roman", serif;
}
.ql-font-verdana {
  font-family: Verdana, sans-serif;
}

.ql-font-arial {
  font-family: Arial, sans-serif;
}
.ql-font-georgia {
  font-family: Georgia, serif;
}
.ql-font-impact {
  font-family: Impact, sans-serif;
}
.ql-font-tahoma {
  font-family: Tahoma, sans-serif;
}
.ql-font-times-new-roman {
  font-family: "Times New Roman", serif;
}
.ql-font-verdana {
  font-family: Verdana, sans-serif;
}

/* Affichage lisible dans le menu dropdown */
.ql-font .ql-picker-item span[data-value="arial"]::before {
  content: "Arial" !important;
  font-family: Arial, sans-serif !important;
}
.ql-font .ql-picker-item span[data-value="georgia"]::before {
  content: "Georgia" !important;
  font-family: Georgia, serif !important;
}
.ql-font .ql-picker-item span[data-value="impact"]::before {
  content: "Impact" !important;
  font-family: Impact, sans-serif !important;
}
.ql-font .ql-picker-item span[data-value="tahoma"]::before {
  content: "Tahoma" !important;
  font-family: Tahoma, sans-serif !important;
}
.ql-font .ql-picker-item span[data-value="times-new-roman"]::before {
  content: "Times New Roman" !important;
  font-family: "Times New Roman", serif !important;
}
.ql-font .ql-picker-item span[data-value="verdana"]::before {
  content: "Verdana" !important;
  font-family: Verdana, sans-serif !important;
}

/* Fix pour voir le sélecteur de polices */
.ql-snow .ql-picker.ql-font {
  display: inline-block !important;
}

.text-justify {
  text-align: justify;
}

.hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.02);
  box-shadow: 0 0.5rem 1rem rgba(0, 128, 0, 0.3); /* vert léger */
}
